extend layout

block intro
  p.intro-header
    | Baby guesses below.
  p.intro-content
    | Prizes for the category winners are TBD.
block content
  h2 Birthdate
  - for (var i = 0; i < birthdates.length; i++) {
    div
      div.results-left.results-item
        | #{birthdates[i].name}
      div.results-right.results-item
        | #{birthdates[i].date} - #{birthdates[i].time}
  - }
  div(style="clear:both;")

  h2 Height
  - for (var i = 0; i < heights.length; i++) {
    div
      div.results-left.results-item
        | #{heights[i].name}
      div.results-right.results-item
        | #{heights[i].height} in
  - }
  div(style="clear:both;")

  h2 Weight
  - for (var i = 0; i < weights.length; i++) {
    div
      div.results-left.results-item
        | #{weights[i].name}
      div.results-right.results-item
        | #{weights[i].weight}
  - }
  div(style="clear:both;")

  h2 Hair
  - for (var i = 0; i < hairs.length; i++) {
    div
      div.results-left.results-item
        | #{hairs[i].name}
      div.results-right.results-item
        | #{hairs[i].hair}
  - }
  div(style="clear:both;")
